<div class="modal fade" id="exampleModal-<TMPL_VAR NAME="ID">" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mitarbeiter löschen!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Wollen Sie den Mitarbeiter <strong><TMPL_VAR NAME="NAME"></strong> wirklich löschen?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Schließen</button>
        <a href="cgi-bin/perl-bootstrap-crud/modules/actions/delete.pl?id=<TMPL_VAR NAME="ID">" class="btn btn-warning"><i class="fa fa-trash" aria-hidden="true"></i> Mitarbeiter löschen</a>
      </div>
    </div>
  </div>
</div>